.battleReport{
    overflow: scroll;
    width: 500px;
    height: 700px;
    color: white;
    background-color: #222222;
}

.hpAnimation{
    animation: hp .5s forwards;
}

@keyframes hp {
    from {transform: translateY(0px);}
    to {transform: translateY(-20px);}
}