{% load static i18n %}<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="icon" href="{% static 'img/swordshield.png' %}" type="image/png">
    <title>{{ title }}</title>


    {#   CSS   #}
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">

    {#   JS   #}
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    {#    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"#}
    {#            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"#}
    {#            crossorigin="anonymous"></script>#}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
    <script src="{% static 'js/main.js' %}"></script>

</head>
<body id="page-body" class="container-fluid">
<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand mb-0 h1" href="{% url 'home' %}">
        <img src="{% static 'img/swordshield.svg' %}" width="30" height="30"
             class="d-inline-block align-top"
             alt="">
        B.T.A - II
    </a>
    {% if user.is_anonymous %}
        <a href="{% url 'signUp' %}" class="btn btn-outline-success">Sign Up</a>
        <a href="{% url 'logIn' %}" class="btn btn-outline-success">Log In</a>
    {% else %}
        <p>
            {{ request.user }}
            <a href="{% url 'logOut' %}" class="btn btn-outline-danger">Log Out</a>
        </p>
    {% endif %}
</nav>


<div class="row">
    {% block page-top %}

    {% endblock %}

    {% block table-score %}

    {% endblock %}

    {% block choose-class %}

    {% endblock %}
</div>
</body>
</html>