{% extends 'base.html' %}

{% block page-top %}


	<div class="h5 font-weight-bold text-primary text-uppercase mb-1">
		Nom: {{ character.name }} <br>
		Classe: {{ character.characterClass.name }} <br>
		Niveau: {{ character.level }} <br>
		HP: {{ character.hp }}/{{ character.hpMax }} <br><br>

		Force: {{ character.strength }} <br>
		{{ character.intelligence }} <br>
		{{ character.agility }} <br>
		{{ character.physicalResistance }} <br>
		{{ character.magicalResistance }} <br>

		{{ character.inventory.head.name }} <br>
		{{ character.inventory.chest.name }} <br>
		{{ character.inventory.leg.name }} <br>
	</div>


{% endblock %}

