{% load static %}<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">

	<title>RichardDev</title>

	{#	<link href="{% static 'css/main.css' %}"#}
	{#	      rel="stylesheet" type="text/css">#}
	<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
	<script src="{% static 'js/main.js' %}"></script>
</head>

<body id="page-body">
<form>
	{% csrf_token %}

	<label for="name">Name: </label>
	<input type="text" name="name" id="name" required>

	<label for="characterClass">Class: </label>
	<select id="characterClass" name="characterClass">
		{% for characterClass in characterClasses %}
			<option value="{{ characterClass.id }}">
				{{ characterClass.name }}</option>
		{% endfor %}
	</select>


	<input type="submit" id="play" value="play">

</form>


</body>

