{% extends 'base.html' %}

{% block table-score %}
    <div class="col-10 fluid">
        <table class="table table-striped">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Date</th>
                <th scope="col">User</th>
                <th scope="col">Character</th>
                <th scope="col">Stage</th>
                <th scope="col">Class</th>
                <th scope="col">HP Max</th>
                <th scope="col">Strength</th>
                <th scope="col">Intelligence</th>
                <th scope="col">Agility</th>
                <th scope="col">Physical resistance</th>
                <th scope="col">Magical resistance</th>
            </tr>
            </thead>
            <tbody>


            {% for party in partys %}
                <tr>
                    <td>
                        {{ party.date|date:"SHORT_DATE_FORMAT" }}
                    </td>
                    <td>
                        {{ party.user.username }}
                    </td>
                    <td>
                        {{ party.character.name }}
                    </td>
                    <td>
                        {{ party.stage }}
                    </td>
                    <td>
                        {{ party.character.characterClass.name }}
                    </td>
                    <td>
                        {{ party.character.getHpMax }}
                    </td>
                    <td>
                        {{ party.character.getStrength }}
                    </td>
                    <td>
                        {{ party.character.getIntelligence }}
                    </td>
                    <td>
                        {{ party.character.getIntelligence }}
                    </td>
                    <td>
                        {{ party.character.getPhysicalResistance }}
                    </td>
                    <td>
                        {{ party.character.getMagicalResistance }}
                    </td>
                </tr>

            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
{% block choose-class %}
    <div class="col-2 fluid">
        {% for characterClass in characterClasses %}
            <button>
                <a href="{% url 'generateCharacterByPk' characterClass.pk %}">{{ characterClass.name }}</a>
            </button>
        {% endfor %}
    </div>
{% endblock %}
