{% extends 'base.html' %}
{% block table-score %}
    <div class="row container-fluid">
        <div class="col-3">
            <table class="table table-borderless">
                <thead>
                <tr>
                    <th scope="col"><p
                        id="characterName">{{ party.character.name }}</p>
                    </th>
                    <th scope="col"><p
                        id="characterClass">{{ party.character.characterClass.name }}</p>
                    </th>
                    <th scope="col"><p class="inline"
                                       id="characterLevel">
                        Lvl: {{ party.character.level }}</p></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row" class="text-success">HP:</th>
                    <td><p id="characterHp"> {{ currentCharacter.hp }}/{{ currentCharacter.hpMax }}</p>
                    </td>
                </tr>
                <tr>
                    <th scope="row" class="text-primary">ARM:</th>
                    <td><p
                        id="characterPhysicalResistence">{{ currentCharacter.physicalResistance }}</p>
                        ({{ party.character.physicalResistance }})
                    </td>
                </tr>
                <tr>
                    <th scope="row" class="text-secondary">RES:</th>
                    <td><p
                        id="characterMagicalResistence">
                        {{ currentCharacter.magicalResistance }}</p>({{ party.character.magicalResistance }})
                    </td>
                </tr>
                <tr>
                    <th scope="row" class="text-danger">STR:</th>
                    <td><p
                        id="characterStrength">
                        {{ currentCharacter.strength }}</p>({{ party.character.strength }})
                    </td>
                </tr>
                <tr>
                    <th scope="row" class="text-info">INT:</th>
                    <td><p
                        id="characterIntelligence">
                        {{ currentCharacter.intelligence }}</p>({{ party.character.intelligence }})
                    </td>
                </tr>
                <tr>
                    <th scope="row" class="text-warning">AGI:</th>
                    <td><p
                        id="characterAgility">
                        {{ currentCharacter.agility }}</p>({{ party.character.agility }})
                    </td>
                </tr>
                </tbody>
            </table>

            <div>
                <div>
                    {% if party.character.inventory.head != Null %}
                        <table class="table table-borderless">
                            <tr>
                                <th scope="row">{{ party.character.inventory.head.name }}</th>
                                <td>
                                    <p id="headHpMax"
                                       class="text-success">{{ party.character.inventory.head.hpMax }}</p>
                                </td>
                                <td>
                                    <p id="headPhysicalResistance"
                                       class="text-primary">{{ party.character.inventory.head.physicalResistance }}</p>
                                </td>
                                <td>
                                    <p id="headMagicalResistance"
                                       class="text-secondary">{{ party.character.inventory.head.magicalResistance }}</p>
                                </td>
                                <td>
                                    <p id="headStrength"
                                       class="text-danger">{{ party.character.inventory.head.strength }}</p>
                                </td>
                                <td>
                                    <p id="headIntelligence"
                                       class="text-info">{{ party.character.inventory.head.intelligence }}</p>
                                </td>
                                <td>
                                    <p id="headAgility"
                                       class="text-warning">{{ party.character.inventory.head.agility }}</p>
                                </td>
                            </tr>
                        </table>
                    {% else %}
                        No helmet
                    {% endif %}
                </div>

                <div>
                    {% if party.character.inventory.chest != Null %}
                        <table class="table table-borderless">
                            <tr>
                                <th scope="row">{{ party.character.inventory.chest.name }}</th>
                                <td>
                                    <p id="headHpMax"
                                       class="text-success">{{ party.character.inventory.chest.hpMax }}</p>
                                </td>
                                <td>
                                    <p id="headPhysicalResistance"
                                       class="text-primary">{{ party.character.inventory.chest.physicalResistance }}</p>
                                </td>
                                <td>
                                    <p id="headMagicalResistance"
                                       class="text-secondary">{{ party.character.inventory.chest.magicalResistance }}</p>
                                </td>
                                <td>
                                    <p id="headStrength"
                                       class="text-danger">{{ party.character.inventory.chest.strength }}</p>
                                </td>
                                <td>
                                    <p id="headIntelligence"
                                       class="text-info">{{ party.character.inventory.chest.intelligence }}</p>
                                </td>
                                <td>
                                    <p id="headAgility"
                                       class="text-warning">{{ party.character.inventory.chest.agility }}</p>
                                </td>
                            </tr>
                        </table>
                    {% else %}
                        No breathplate
                    {% endif %}
                </div>

                <div>
                    {% if party.character.inventory.leg != Null %}
                        <table class="table table-borderless">
                            <tr>
                                <th scope="row">{{ party.character.inventory.leg.name }}</th>
                                <td>
                                    <p id="headHpMax"
                                       class="text-success">{{ party.character.inventory.leg.hpMax }}</p>
                                </td>
                                <td>
                                    <p id="headPhysicalResistance"
                                       class="text-primary">{{ party.character.inventory.leg.physicalResistance }}</p>
                                </td>
                                <td>
                                    <p id="headMagicalResistance"
                                       class="text-secondary">{{ party.character.inventory.leg.magicalResistance }}</p>
                                </td>
                                <td>
                                    <p id="headStrength"
                                       class="text-danger">{{ party.character.inventory.leg.strength }}</p>
                                </td>
                                <td>
                                    <p id="headIntelligence"
                                       class="text-info">{{ party.character.inventory.leg.intelligence }}</p>
                                </td>
                                <td>
                                    <p id="headAgility"
                                       class="text-warning">{{ party.character.inventory.leg.agility }}</p>
                                </td>
                            </tr>
                        </table>
                    {% else %}
                        No leg
                    {% endif %}
                </div>
                <div>
                    {% if party.character.inventory.weapon != Null %}
                        <table class="table table-borderless">
                            <tr>
                                <th scope="row">{{ party.character.inventory.weapon.name }}</th>
                                <td>
                                    <p id="headHpMax"
                                       class="text-success">{{ party.character.inventory.weapon.hpMax }}</p>
                                </td>
                                <td>
                                    <p id="headPhysicalResistance"
                                       class="text-primary">{{ party.character.inventory.weapon.physicalResistance }}</p>
                                </td>
                                <td>
                                    <p id="headMagicalResistance"
                                       class="text-secondary">{{ party.character.inventory.weapon.magicalResistance }}</p>
                                </td>
                                <td>
                                    <p id="headStrength"
                                       class="text-danger">{{ party.character.inventory.weapon.strength }}</p>
                                </td>
                                <td>
                                    <p id="headIntelligence"
                                       class="text-info">{{ party.character.inventory.weapon.intelligence }}</p>
                                </td>
                                <td>
                                    <p id="headAgility"
                                       class="text-warning">{{ party.character.inventory.weapon.agility }}</p>
                                </td>
                            </tr>
                        </table>
                    {% else %}
                        No weapon
                    {% endif %}
                </div>
            </div>
            <div>
                <div>
                    {% if party.character.inventory.consumables != Null %}
                        {% for consumable in party.character.inventory.inventoryconsumable_set.all %}
                            <div>
                                <table class="table table-borderless">
                                    <tr>
                                        <th scope="row">{{ consumable.consumable.name }}</th>
                                        <td>
                                            <p id="quantity/{{ party.character.pk }}/{{ consumable.consumable.pk }}">{{ consumable.quantity }}</p>
                                        </td>
                                        <td>
                                            <button type="button"
                                                    urlUseItem="useItem/{{ party.character.pk }}/{{ consumable.consumable.pk }}"
                                                    coupleCharacterConsumable="{{ party.character.pk }}/{{ consumable.consumable.pk }}"
                                                    class="useItem btn btn-success">
                                                Use
                                            </button>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        {% endfor %}
                    {% else %}
                        No consumable
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-6">
            Battle report
        </div>
        <div class="col-3">
            Ennemy Info
            <p id="pkEnemy">{{ firstEnemy.enemyPk }}</p>
        </div>
        <!-- Button trigger modal -->
        <button type="button" id="dropButton" class="btn btn-primary"
                data-toggle="modal" data-target="#itemModal">
            Drop Item
        </button>
         <button type="button" id="playRound" class="btn btn-secondary">
            Play da round
        </button>
         <button type="button" id="nextStage" class="btn btn-danger">
            Next Stage
        </button>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="itemModal" tabindex="-1" role="dialog"
         aria-labelledby="itemModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="itemModalLabel">Modal
                        title</h5>
                    <button type="button" class="close"
                            data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="itemModalBody">
                    <p id="levelRequired"></p>
                    <p id="classRequired"></p>
                    <p id="rarity"></p>
                    <p id="hpMax"></p>
                    <p id="hp"></p>
                    <p id="physicalResistence"></p>
                    <p id="magicalResistence"></p>
                    <p id="strength"></p>
                    <p id="intelligence"></p>
                    <p id="agility"></p>
                    <p id="stuffClassName" hidden></p>
                    <p id="stuffPk" hidden></p>
                </div>
                <div class="modal-footer">
                    <button type="button" id="closeModal" class="btn btn-secondary" data-dismiss="modal">Pass</button>
                    <button type="button" id="changeItem" class="btn btn-primary">Keep</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}