{% extends 'base.html' %}
{% block table-score %}
    <div class="row container-fluid">
        <div class="col-4">
            <span id="characterPk" hidden>{{ party.character.pk }}</span>
            <table>
                <thead>
                <tr>
                    <th scope="col">
                        <span id="characterName">{{ party.character.name }}</span>
                    </th>
                    <th scope="col">
                        <span id="characterClass">{{ party.character.characterClass.name }}</span>
                    </th>
                    <th scope="col">
                        Lvl: <span class="inline" id="characterLevel">{{ party.character.level }}</span></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">XP:</th>
                    <td>
                        <span id="characterXp">{{ currentCharacter.xp }}</span>/
                        <span id="characterXpRequired">{{ currentCharacter.xpRequired }}</span>
                    </td>
                </tr>
                <tr>
                    <th scope="row" class="text-success">HP:</th>
                    <td>
                        <span id="characterHp">{{ currentCharacter.hp }}</span>/
                        <span id="characterHpMax">{{ currentCharacter.hpMax }}</span>
                    </td>
                </tr>
                <tr>
                    <th scope="row" class="text-primary">ARM:</th>
                    <td>
                        <span id="characterPhysicalResistence">{{ party.character.getPhysicalResistance }}</span>
                        <span id="characterBasicPhysicalResistence">({{ party.character.physicalResistance }})</span>
                    </td>
                </tr>
                <tr>
                    <th scope="row" class="text-secondary">RES:</th>
                    <td><span
                            id="characterMagicalResistence">
                        {{ party.character.getMagicalResistance }}</span>
                        <span
                                id="characterBasicMagicalResistence">({{ party.character.magicalResistance }})</span>
                    </td>
                </tr>
                <tr>
                    <th scope="row" class="text-danger">STR:</th>
                    <td><span
                            id="characterStrength">
                        {{ party.character.getStrength }}</span>
                        <span
                                id="characterBasicStrength">({{ party.character.strength }})</span>
                    </td>
                </tr>
                <tr>
                    <th scope="row" class="text-info">INT:</th>
                    <td><span
                            id="characterIntelligence">
                        {{ party.character.getIntelligence }}</span>
                        <span
                                id="characterBasicIntelligence">({{ party.character.intelligence }})</span>
                    </td>
                </tr>
                <tr>
                    <th scope="row" class="text-warning">AGI:</th>
                    <td><span
                            id="characterAgility">
                        {{ party.character.getAgility }}</span>
                        <span
                                id="characterBasicAgility">({{ party.character.agility }})</span>
                    </td>
                </tr>
                </tbody>
            </table>

            <div>
                <div>
                    {% if party.character.inventory.head != Null %}
                        <table class="table table-borderless">
                            <tr>
                                <th scope="row" id="headKind"><span>Helmet</span>
                                </th>
                                {% if party.character.inventory.head.rarity == 'Rare' %}
                                    <td>
                                        <span id="headName"
                                              style="color: dodgerblue">{{ party.character.inventory.head.name }}</span>
                                    </td>
                                {% elif party.character.inventory.head.rarity == 'Epic' %}
                                    <td>
                                        <span id="headName"
                                              style="color: blueviolet">{{ party.character.inventory.head.name }}</span>
                                    </td>
                                {% elif party.character.inventory.head.rarity == 'Legendary' %}
                                    <td>
                                        <span id="headName"
                                              style="color: gold">{{ party.character.inventory.head.name }}</span>
                                    </td>
                                {% else %}
                                    <td>
                                        <span id="headName"
                                              style="color: limegreen">{{ party.character.inventory.head.name }}</span>
                                    </td>
                                {% endif %}
                                <td>
                                    <span id="headHpMax"
                                          class="text-success">{{ party.character.inventory.head.hpMax }}</span>
                                </td>
                                <td>
                                    <span id="headPhysicalResistance"
                                          class="text-primary">{{ party.character.inventory.head.physicalResistance }}</span>
                                </td>
                                <td>
                                    <span id="headMagicalResistance"
                                          class="text-secondary">{{ party.character.inventory.head.magicalResistance }}</span>
                                </td>
                                <td>
                                    <span id="headStrength"
                                          class="text-danger">{{ party.character.inventory.head.strength }}</span>
                                </td>
                                <td>
                                    <span id="headIntelligence"
                                          class="text-info">{{ party.character.inventory.head.intelligence }}</span>
                                </td>
                                <td>
                                    <span id="headAgility"
                                          class="text-warning">{{ party.character.inventory.head.agility }}</span>
                                </td>
                            </tr>
                        </table>
                    {% else %}
                        <table class="table table-borderless">
                            <tr>
                                <th scope="row"><span id="headKind">Head</span>
                                </th>
                                <td scope="row"><span id="headName">No helmet</span></td>
                                <td>
                                    <span id="headHpMax"
                                          class="text-success"></span>
                                </td>
                                <td>
                                    <span id="headPhysicalResistance"
                                          class="text-primary"></span>
                                </td>
                                <td>
                                    <span id="headMagicalResistance"
                                          class="text-secondary"></span>
                                </td>
                                <td>
                                    <span id="headStrength"
                                          class="text-danger"></span>
                                </td>
                                <td>
                                    <span id="headIntelligence"
                                          class="text-info"></span>
                                </td>
                                <td>
                                    <span id="headAgility"
                                          class="text-warning"></span>
                                </td>
                            </tr>
                        </table>
                    {% endif %}
                </div>

                <div>
                    {% if party.character.inventory.chest != Null %}
                        <table class="table table-borderless">
                            <tr>
                                <th scope="row" id="chestKind"><span>Chest</span>
                                </th>
                                {% if party.character.inventory.chest.rarity == 'Rare' %}
                                    <td>
                                        <span id="chestName"
                                              style="color: dodgerblue">{{ party.character.inventory.chest.name }}</span>
                                    </td>
                                {% elif party.character.inventory.chest.rarity == 'Epic' %}
                                    <td>
                                        <span id="chestName"
                                              style="color: blueviolet">{{ party.character.inventory.chest.name }}</span>
                                    </td>
                                {% elif party.character.inventory.chest.rarity == 'Legendary' %}
                                    <td>
                                        <span id="chestName"
                                              style="color: gold">{{ party.character.inventory.chest.name }}</span>
                                    </td>
                                {% else %}
                                    <td>
                                        <span id="chestName"
                                              style="color: limegreen">{{ party.character.inventory.chest.name }}</span>
                                    </td>
                                {% endif %}
                                <td>
                                    <span id="chestHpMax"
                                          class="text-success">{{ party.character.inventory.chest.hpMax }}</span>
                                </td>
                                <td>
                                    <span id="chestPhysicalResistance"
                                          class="text-primary">{{ party.character.inventory.chest.physicalResistance }}</span>
                                </td>
                                <td>
                                    <span id="chestMagicalResistance"
                                          class="text-secondary">{{ party.character.inventory.chest.magicalResistance }}</span>
                                </td>
                                <td>
                                    <span id="chestStrength"
                                          class="text-danger">{{ party.character.inventory.chest.strength }}</span>
                                </td>
                                <td>
                                    <span id="chestIntelligence"
                                          class="text-info">{{ party.character.inventory.chest.intelligence }}</span>
                                </td>
                                <td>
                                    <span id="chestAgility"
                                          class="text-warning">{{ party.character.inventory.chest.agility }}</span>
                                </td>
                            </tr>
                        </table>
                    {% else %}
                        <table class="table table-borderless">
                            <tr>
                                <th scope="row"><span id="chestKind">Chest</span>
                                </th>

                                <td scope="row"><span id="chestName">No breathplate</span>
                                </td>
                                <td>
                                    <span id="chestHpMax"
                                          class="text-success">{{ party.character.inventory.chest.hpMax }}</span>
                                </td>
                                <td>
                                    <span id="chestPhysicalResistance"
                                          class="text-primary">{{ party.character.inventory.chest.physicalResistance }}</span>
                                </td>
                                <td>
                                    <span id="chestMagicalResistance"
                                          class="text-secondary">{{ party.character.inventory.chest.magicalResistance }}</span>
                                </td>
                                <td>
                                    <span id="chestStrength"
                                          class="text-danger">{{ party.character.inventory.chest.strength }}</span>
                                </td>
                                <td>
                                    <span id="chestIntelligence"
                                          class="text-info">{{ party.character.inventory.chest.intelligence }}</span>
                                </td>
                                <td>
                                    <span id="chestAgility"
                                          class="text-warning">{{ party.character.inventory.chest.agility }}</span>
                                </td>
                            </tr>
                        </table>
                    {% endif %}
                </div>

                <div>
                    {% if party.character.inventory.leg != Null %}
                        <table class="table table-borderless">
                            <tr>
                                <th scope="row" id="legKind"><span>Leg</span>
                                </th>
                                {% if party.character.inventory.leg.rarity == 'Rare' %}
                                    <td>
                                        <span id="legName"
                                              style="color: dodgerblue">{{ party.character.inventory.leg.name }}</span>
                                    </td>
                                {% elif party.character.inventory.leg.rarity == 'Epic' %}
                                    <td>
                                        <span id="legName"
                                              style="color: blueviolet">{{ party.character.inventory.leg.name }}</span>
                                    </td>
                                {% elif party.character.inventory.leg.rarity == 'Legendary' %}
                                    <td>
                                        <span id="legName"
                                              style="color: gold">{{ party.character.inventory.leg.name }}</span>
                                    </td>
                                {% else %}
                                    <td>
                                        <span id="legName"
                                              style="color: limegreen">{{ party.character.inventory.leg.name }}</span>
                                    </td>
                                {% endif %}
                                <td>
                                <span id="legHpMax"
                                      class="text-success">{{ party.character.inventory.leg.hpMax }}</span>
                                </td>
                                <td>
                                    <span id="legPhysicalResistance"
                                          class="text-primary">{{ party.character.inventory.leg.physicalResistance }}</span>
                                </td>
                                <td>
                                    <span id="legMagicalResistance"
                                          class="text-secondary">{{ party.character.inventory.leg.magicalResistance }}</span>
                                </td>
                                <td>
                                    <span id="legStrength"
                                          class="text-danger">{{ party.character.inventory.leg.strength }}</span>
                                </td>
                                <td>
                                    <span id="legIntelligence"
                                          class="text-info">{{ party.character.inventory.leg.intelligence }}</span>
                                </td>
                                <td>
                                    <span id="legAgility"
                                          class="text-warning">{{ party.character.inventory.leg.agility }}</span>
                                </td>
                            </tr>
                        </table>
                    {% else %}
                        <table class="table table-borderless">
                            <tr>
                                <th scope="row" id="legKind"><span>Leg</span>
                                </th>
                                <td scope="row"><span id="legName">No leg</span></td>
                                <td>
                                    <span id="legHpMax"
                                          class="text-success">{{ party.character.inventory.leg.hpMax }}</span>
                                </td>
                                <td>
                                    <span id="legPhysicalResistance"
                                          class="text-primary">{{ party.character.inventory.leg.physicalResistance }}</span>
                                </td>
                                <td>
                                    <span id="legMagicalResistance"
                                          class="text-secondary">{{ party.character.inventory.leg.magicalResistance }}</span>
                                </td>
                                <td>
                                    <span id="legStrength"
                                          class="text-danger">{{ party.character.inventory.leg.strength }}</span>
                                </td>
                                <td>
                                    <span id="legIntelligence"
                                          class="text-info">{{ party.character.inventory.leg.intelligence }}</span>
                                </td>
                                <td>
                                    <span id="legAgility"
                                          class="text-warning">{{ party.character.inventory.leg.agility }}</span>
                                </td>
                            </tr>
                        </table>
                    {% endif %}
                </div>
                <div>
                    {% if party.character.inventory.weapon != Null %}
                        <table class="table table-borderless">
                            <tr>
                                <th scope="row" id="weaponKind"><span>Weapon</span>
                                </th>
                                {% if party.character.inventory.weapon.rarity == 'Rare' %}
                                    <td>
                                        <span id="weaponName"
                                              style="color: dodgerblue">{{ party.character.inventory.weapon.name }}</span>
                                    </td>
                                {% elif party.character.inventory.weapon.rarity == 'Epic' %}
                                    <td>
                                        <span id="weaponName"
                                              style="color: blueviolet">{{ party.character.inventory.weapon.name }}</span>
                                    </td>
                                {% elif party.character.inventory.weapon.rarity == 'Legendary' %}
                                    <td>
                                        <span id="weaponName"
                                              style="color: gold">{{ party.character.inventory.weapon.name }}</span>
                                    </td>
                                {% else %}
                                    <td>
                                        <span id="weaponName"
                                              style="color: limegreen">{{ party.character.inventory.weapon.name }}</span>
                                    </td>
                                {% endif %}
                                <td>
                                    <span id="weaponHpMax"
                                          class="text-success">{{ party.character.inventory.weapon.hpMax }}</span>
                                </td>
                                <td>
                                    <span id="weaponPhysicalResistance"
                                          class="text-primary">{{ party.character.inventory.weapon.physicalResistance }}</span>
                                </td>
                                <td>
                                    <span id="weaponMagicalResistance"
                                          class="text-secondary">{{ party.character.inventory.weapon.magicalResistance }}</span>
                                </td>
                                <td>
                                    <span id="weaponStrength"
                                          class="text-danger">{{ party.character.inventory.weapon.strength }}</span>
                                </td>
                                <td>
                                    <span id="weaponIntelligence"
                                          class="text-info">{{ party.character.inventory.weapon.intelligence }}</span>
                                </td>
                                <td>
                                    <span id="weaponAgility"
                                          class="text-warning">{{ party.character.inventory.weapon.agility }}</span>
                                </td>
                            </tr>
                        </table>
                    {% else %}
                        <table class="table table-borderless">
                            <tr>
                                <th scope="row" id="weaponKind"><span>Weapon</span>
                                </th>
                                <td scope="row"><span id="weaponName">No weapon</span>
                                </td>
                                <td>
                                    <span id="weaponHpMax"
                                          class="text-success">{{ party.character.inventory.weapon.hpMax }}</span>
                                </td>
                                <td>
                                    <span id="weaponPhysicalResistance"
                                          class="text-primary">{{ party.character.inventory.weapon.physicalResistance }}</span>
                                </td>
                                <td>
                                    <span id="weaponMagicalResistance"
                                          class="text-secondary">{{ party.character.inventory.weapon.magicalResistance }}</span>
                                </td>
                                <td>
                                    <span id="weaponStrength"
                                          class="text-danger">{{ party.character.inventory.weapon.strength }}</span>
                                </td>
                                <td>
                                    <span id="weaponIntelligence"
                                          class="text-info">{{ party.character.inventory.weapon.intelligence }}</span>
                                </td>
                                <td>
                                    <span id="weaponAgility"
                                          class="text-warning">{{ party.character.inventory.weapon.agility }}</span>
                                </td>
                            </tr>
                        </table>
                    {% endif %}
                </div>
            </div>
            <div>
                <div id="consumablesPanel">
                    {#                    {% if party.character.inventory.consumables != Null %}#}
                    {% if party.character.inventory.inventoryconsumable_set.all != 0 %}
                        {% for consumable in party.character.inventory.inventoryconsumable_set.all %}
                            <div>
                                <table class="table table-borderless" id="{{ consumable.consumable.name }}">
                                    <tr>
                                        <th scope="row">{{ consumable.consumable.name }}</th>
                                        <td>
                                            <span
                                                    id="quantity/{{ party.character.pk }}/{{ consumable.consumable.pk }}">{{ consumable.quantity }}</span>
                                        </td>
                                        <td>
                                            <button type="button"
                                                    urlUseItem="quantity/{{ party.pk }}/{{ consumable.consumable.pk }}"
                                                    coupleCharacterConsumable="{{ party.character.pk }}/{{ consumable.consumable.pk }}"
                                                    class="useItem btn btn-success">
                                                Use
                                            </button>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        {% endfor %}
                    {% else %}
                        No consumable
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-4">
            <div>
                <span class="h1">Stage: </span>
                <span id="stage" class="h1">{{ party.stage }}</span>
            </div>
            <div>
                <span id="buttonPlayRound"></span>
                <span id="buttonNextStage"></span>
            </div>
        </div>
        <div class="col-4">
            <p id="pkEnemy" hidden>{{ enemy.enemyPk }}</p>
            <table>
                <thead>
                <tr>
                    <th scope="col">
                        <span id="enemyName">{{ enemy.enemyName }}</span>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row" class="text-success">HP:</th>
                    <td>
                        <span>
                            <span id="enemyHp"> {{ enemy.enemyHp }}</span>
                            <span>/</span>
                            <span id="enemyHpMax">{{ enemy.enemyHpMax }}</span>
                        </span>
                    </td>
                </tr>
                <tr>
                    <th scope="row" class="text-primary">
                        ARM:
                    </th>
                    <td>
                        <span id="enemyPhysicalResistance">
                            {{ enemy.enemyPhysicalResistance }}
                        </span>
                    </td>
                </tr>
                <tr>
                    <th scope="row" class="text-secondary">
                        RES:
                    </th>
                    <td>
                        <span id="enemyMagicalResistance">
                            {{ enemy.enemyMagicalResistance }}
                        </span>
                    </td>
                </tr>
                <tr>
                    <th scope="row" class="text-danger">
                        STR:
                    </th>
                    <td>
                        <span id="enemyStrength">
                            {{ enemy.enemyStrength }}
                        </span>
                    </td>
                </tr>
                <tr>
                    <th scope="row" class="text-info">
                        INT:
                    </th>
                    <td>
                        <span id="enemyIntelligence">
                            {{ enemy.enemyIntelligence }}
                        </span>
                    </td>
                </tr>
                <tr>
                    <th scope="row" class="text-warning">
                        AGI:
                    </th>
                    <td>
                        <span id="enemyAgility">
                            {{ enemy.enemyAgility }}
                        </span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="itemModal" tabindex="-1" role="dialog"
         aria-labelledby="itemModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="itemModalLabel">Modal
                        title</h5>
                    <button type="button" class="close"
                            data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="itemModalBody">
                    <p id="levelRequired"></p>
                    <p id="classRequired"></p>
                    <p id="stuffClassName"></p>
                    <p id="rarity"></p>
                    <p id="hpMax"></p>
                    <p id="hp"></p>
                    <p id="physicalResistence"></p>
                    <p id="magicalResistence"></p>
                    <p id="strength"></p>
                    <p id="intelligence"></p>
                    <p id="agility"></p>
                    <p id="stuffClassName" hidden></p>
                    <p id="stuffPk" hidden></p>
                </div>
                <div class="modal-footer">
                    <button type="button" id="closeModal" class="btn btn-secondary" data-dismiss="modal">Pass</button>
                    <button type="button" id="changeItem" class="btn btn-primary">Keep</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}